:root * {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;

    flex-grow: 0;
    flex-shrink: 0;
}


body {
    width: 100vw;
    height: 100vh;

    background-color: #eeeeee;

    overflow: hidden;
}


#page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;

    padding: 1em 3em;
}


#title {
    font-size: 1.5em;
    line-height: 1.5;
    font-weight: bold;
}


#panel-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.panel-button {
    padding: .75em .5em;
    width: 12ch;

    background-color: #0f94b7;
    color: #ffffff;
    font-weight: bold;
    border: solid 1px #ffffff;
    outline: none;

    cursor: pointer;
}


#input-data-button {
    border-right: 0;
    border-radius: .5em 0 0 .5em;
}


#output-data-button {
    border-left: 0;
    border-radius: 0 .5em .5em 0;
}


.panel-button.active, .panel-button:hover{
    background-color: #0e87a6;
}


#panel-container {
    display: flex;
    position: fixed;
    left: 0;
    transition: left .5s;

    overflow: hidden;
}


.panel {
    width: 100vw;
    height: 100%;

    overflow-y: scroll;
}


.panel::-webkit-scrollbar {
    display: none;
}


.panel .header {
    padding: .4em .5em;

    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}


.panel .content {
    overflow-y: hidden;
}


.form-header, .form-subheader {
    text-align: center;
}


.form-header {
    text-transform: uppercase;
    font-weight: bold;
    padding: .3em .1em;
}


.form-header:not(:first-child) {
    margin-top: 1em;
}


.form-subheader {
    text-transform: lowercase;
    font-size: .87em;
    margin-top: .5em;
    padding: .3em .02em;
}


.form-row, .data-row {
    display: flex;
    align-items: center;

}


.form-row {
    padding: .1em .1em;
    justify-content: center;

    font-size: .85em;
}


.form-row > * {
    flex-grow: 0;
    flex-shrink: 0;
}


.form-row > :first-child {
    width: 6ch;
    margin-right: .5em;
    text-align: right;
    font-weight: bold;
}


.form-row label:not(:first-of-type) {
    margin: 0 .25em;
}


.form-row input {
    padding: .4em .1em;

    border: 0;
    border-radius: .1em;

    outline-color: #ffffff;
}


.form-row input:first-of-type {
    width: 12ch;
}


.form-row input:last-of-type {
    width: 7ch;
}


.large-button {
    margin-top: 1em;
    padding: 1em .5em;
    width: 100%;

    border: 0;
    outline: none;

    background-color: #0f94b7;

    font-weight: bold;
    color: #ffffff;

    cursor: pointer;
}


.large-button:hover {
    background-color: #0e87a6;
}


#response {
    flex-grow: 2;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}


#response > img {
    max-width: 100vw;
    max-height: 100vh;
}


.data-row {
    padding: .1em 2.5em;

    font-size: .93em;
}


.data-row > * {
    flex-shrink: 0;
}


.data-row > :first-child {
    flex-grow: 1;
    font-weight: bold;
}


.data-row > :last-child {
    flex-grow: 0;
    font-size: .9em;
    line-height: 2em;
}
